.recommended {
    flex-basis: 30%;
  }
  
  .side-video-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    background-color: var(--card-background-color-light);
    color: var(--text-color-light);
    border: 1px solid var(--card-border-color-light);
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }
  
  body.dark-mode .side-video-list {
    background-color: var(--card-background-color-dark);
    color: var(--text-color-dark);
    border: 1px solid var(--card-border-color-dark);
  }
  
  .side-video-list img {
    flex-basis: 49%;
    width: 50%;
  }
  
  .vid-info {
    flex-basis: 49%;
  }
  
  .vid-info h4 {
    font-size: 13px;
    margin-bottom: 5px;
  }
  
  @media (max-width: 900px) {
    .recommended {
      flex-basis: 100%;
    }
  }
  