/* src/index.css */
:root {
  --background-color-light: #ffffff;
  --background-color-dark: #121212;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
  --card-background-color-light: #f9f9f9;
  --card-background-color-dark: #1e1e1e;
  --card-border-color-light: #e0e0e0;
  --card-border-color-dark: #333333;
}

body.light-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

/* Existing CSS styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: #5a5a5a;
}
img{
  cursor: pointer;
}
.flex-div{
  display: flex;
  align-items: center;
}